
<section class="vh-500 gradient-custom">
    <div class="container p-3 -100"> 
 
 <div class="topnav">
   <button class="btn bg-dark text-white "  (click)="getAllSongs()">All</button>
   <button class="btn btn-primary" (click)="getSadSongs()">Sad Songs</button>
   <button class="btn btn-primary" (click)="getChillSongs()">Chill Song</button>
   <button class="btn btn-primary" (click)="getEnglishSongs()">English Songs</button>
   <button class="btn btn-primary" (click)="getMyFavourite()">My List</button>
   <button class="btn bg-dark text-white"  routerLink="/home" >LogOut </button>
     <img class="btn btn-primary dropdown-toggle custom " type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false" [src]="user.file" height ="80px" width="80px" />
   <ul class="dropdown-menu" aria-labelledby="dropdown">
     <li><p> Welcome, <span>{{user.name}}</span> </li>
     <li><a class="dropdown-item" routerLink="/update/{{username}}">Edit Profile</a></li>
     <li><a class="dropdown-item" (click)="delAcount()">Delete Account</a></li>
     {{username}}
   </ul>

 </div> 
 <br>
 
 <!-- FOR SAD SONG -->
   <div style="background-color: white ; border-radius: 1cm;  ">
 <div  id="home" *ngFor="let sad of sadsongs">  
  <div *ngIf="sadlist">
 <h1> {{sad.name}} </h1>
 <img [src]="sad.sadsong" height ="80px" width="80px" />
 <button id="btnh1" class="btn" (click)="addToFavforSad(sad)" value="Add Fav"><i class="fa-solid fa-heart"></i></button>
 </div>
 <div style="background-color: black ; text-align: center; height: .2cm; ">  </div>
 </div>
 

 <!-- FOR CHILL SONG -->

 <div style="background-color: white ; border-radius: 1cm;  ">
    <div  id="home" *ngFor="let chill of chillsongs">  
   <div *ngIf="chilllist">
      <h1> {{chill.name}} </h1>
      <img [src]="chill.chillsong" height ="80px" width="80px" />
      <button id="btnh1" class="btn" (click)="addToFavforChill(chill)" value="Add Fav"><i class="fa-solid fa-heart"></i></button>
    </div>
  <div style="background-color: black ; text-align: center; height: .2cm; ">  </div>
  </div>

  <!-- FOR ENGLISH SONG -->

 <div style="background-color: white ; border-radius: 1cm;  ">
  <div  id="home" *ngFor="let eng of englishsongs">  
 <div *ngIf="englishlist">
    <h1> {{eng.name}} </h1>
    <img [src]="eng.englishsong" height ="80px" width="80px" />
    <button id="btnh1" class="btn" (click)="addToFavforEnglish(eng)" value="Add Fav"><i class="fa-solid fa-heart"></i></button>
  </div>
<div style="background-color: black ; text-align: center; height: .2cm; ">  </div>
</div>
  
 <!-- FOR MYLIST SONG -->

 <div style="background-color: white ; border-radius: 1cm;  ">
  <div  id="home" *ngFor="let my of myFavlist">  
 <div *ngIf="mylistlist">
    <h1> {{my.name}} </h1>
    <img [src]="my.file" height ="80px" width="80px" />
    <button id="btnh1" class="btn" (click)="deleteFromMyFav(my)" value="Add Fav"><i class="fa-solid fa-trash"></i></button>
  </div>
<div style="background-color: black ; text-align: center; height: .2cm; ">  </div>
</div>
  
  
 