<section class="vh-500 gradient-custom">
  <div class="mask d-flex align-items-center h-200 gradient-custom-3">
    <div class="container h-200 " >
      <div class="row d-flex justify-content-center align-items-center  h-200">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card " style="border-radius: 15px; ">
            <div class="card-body p-0">
              <h2 class="text-uppercase text-center mb-0">Create an account</h2>
<form  #regForm="ngForm" (ngSubmit)="userRegister(regForm)"> 

  <img [src]=PhotoFilePath height="111px" width="111px">
  <div class="form-outline mb-0">
    <label class="form-label" >UpLoad Pic</label>
  <input id="form3Example1cg1" class="form-control " type="file" name="pic" (change)="uploadPic($event)"> 
    </div>
  <div class="form-outline mb-0">
    <label class="form-label" >Name</label>
  <input id="form3Example1cg2" class="form-control " type="text" name="name" [(ngModel)]="user.name"> 
    </div>
    <div class="form-outline mb-0">
      <label class="form-label" >Username<span class="text-danger" > *</span></label>
  <input id="form3Example1cg3" class="form-control form-control" type="text" name="username"  [(ngModel)]="user.username" required>
    </div>
   <div class="form-outline mb-0">
    <label class="form-label" >Password<span class="text-danger" > *</span></label>
  <input id="form3Example1cg4" required class="form-control form-control" type="password" name="password"  [(ngModel)]="user.password">
     </div>
     
  <div class="d-flex justify-content-center">
  <input value="Submit Form" class="btn btn-success btn-block btn-lg gradient-custom-4" type="submit">
</div>
<p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
  class="fw-bold text-body"><u>Login here</u></a></p>
</form> 

</div>
</div>
</div>
</div>
</div>
</div>
</section> 
